{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="richardchou89" data-description="Support me on Buy me a coffee!" data-message="Having your support would provide me with the necessary momentum to complete this ebook." data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
{% endblock %}
